---

route:
  receiver: 'slack'

receivers:
  - name: 'slack'
    slack_configs:
      - send_resolved: true
        text: "{% raw %}{{ .CommonAnnotations.description }}{% endraw %}"
        username: 'Prometheus'
        channel: '{{ monitoring_slack_api_channel }}'
        api_url: 'https://hooks.slack.com/services/{{ monitoring_slack_api_token }}'
